{% load static %}

<html>
    <head>
        <title>PoupaPig</title>
        <link rel="stylesheet" href="{% static 'css/poupapig.css' %}">
    </head>
    <body>
        <div>
            <h1>PoupaPig</h1>
        </div>
        {% for expense in expenses %}
        <div>
        	<p>Descricao: {{expense.description}}</p>
        	<p>Valor: {{expense.amount}} </p>
        	<p>Categoria: {{expense.categorie.name}}</p>
        	<p>Data: {{expense.date}}</p>
        </div>
        {% endfor %}
    </body>
</html>