{% load staticfiles %}
<!doctype html>
<html>
    <head>
        <link href="{% static 'css/style.css' %}" rel="stylesheet">
        <meta charset="utf-8">
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
        {% if not user.is_authenticated %}
            <h1>POUPA PIG</h1>
            <a href="{% url 'index' %}">Home</a> /
            <a href="{% url 'signup' %}">Sign Up</a> /
            <a href="{% url 'login' %}">Log In</a> /
            <hr>
        {% endif %}

        {% block content %}
        {% endblock %}
    </body>
</html>