{% extends 'registration/base_profile.html' %}
{% load staticfiles %}

<html>
    {% block content %}

        <select id="select_category" onchange="filterByCategory()">
            <option value=0>-------------</option>
            {% for category in categories %}
                <option value="{{category.name}}">{{category.name}}</option>
            {% endfor %}
        </select>

        <table id="table">
            <tr>
                <th>Categoria</th>
                <th>Data</th>
                <th>Valor</th>
                <th>Descrição</th>
            </tr>
            {% for expense in expenses %}
                {% if expense.category.user == user %}
                    <tr>
                        <td>{{expense.category.name}}</td>
                        <td>{{expense.date}}</td>
                        <td>{{expense.amount}}</td>
                        <td>{{expense.description}}</td>
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
        <a href="{% url 'new_expense' %}">Criar despesa</a>

        <script>
            function filterByCategory(){
                var category = document.getElementById("select_category").value;
                
                table = document.getElementById("table");
                tr = table.getElementsByTagName("tr");

                for(i=0;i<tr.length;i++){
                    td = tr[i].getElementsByTagName("td")[0];
                    if(td){
                        column_value = td.innerText;
                        if(category==0 || column_value.indexOf(category)>-1){
                            tr[i].style.display = "";
                        } else{
                            tr[i].style.display = "none";
                        }
                    }
                }

            }
        </script>
    {% endblock %}
</html>