{% extends 'registration/profile.html' %}
{% load staticfiles %}

<html>
    
    {% block content %}
        {% for expense in expenses %}
            {% if expense.user == user %}    
                <div>
                    <p>Descricao: {{expense.description}}</p>
                    <p>Valor: {{expense.amount}} </p>
                    <p>Categoria: {{expense.categorie.name}}</p>
                    <p>Data: {{expense.date}}</p>
                </div>
            {% endif %}
        {% endfor %}
    {% endblock %}
</html>