{% extends 'registration/profile.html' %}
{% load staticfiles %}

<html>
    
    {% block content %}
        <table>
            <tr>
                <th>Categoria</th>
                <th>Data</th>
                <th>Valor</th>
                <th>Descrição</th>
            </tr>
            {% for expense in expenses %}
                {% if expense.category.user == user %}
                    <tr>
                        <td>{{expense.category.name}}</td>
                        <td>{{expense.date}}</td>
                        <td>{{expense.amount}}</td>
                        <td>{{expense.description}}</td>
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
        <a href="{% url 'new_expense' %}">Criar despesa</a>
    {% endblock %}
</html>