{% extends './base_profile.html' %}
{% load staticfiles %}

{% block content %}
    <form>
        <h2>{{user.first_name}} {{user.last_name}}</h2>
        Username: <input type="text" name="username" value="{{user.username}}" readonly><br>
        Nome: <input type="text" name="first_name" value="{{user.first_name}}" readonly><br>
        Sobrenome: <input type="text" name="last_name" value="{{user.last_name}}" readonly><br>
        Data de nascimento: <input type="text" name="date" value="{{user.profile.birth_date}}" readonly><br>
        E-mail: <input type="text" name="email" value="{{user.email}}" readonly><br>
    </form>
{%  endblock %}